.logo{
    width: 70px;
    height: 30px;
}
.searchbar{
    display: flex;
}
.searchbar1{
    width: 250px;
}
.searchbar2{
    margin-left: 10px;
    width: 750px;
}
.navbarLogin{
    color: black;
    font-weight: bold;
}